@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url(//fonts.googleapis.com/css?family=Vibur);

* {
  box-sizing: border-box;
}
:root {
  --color: #fff;
  --gitch-before: #00ffff;
  --glitch-after: #ff00ff;
  --text-color: linear-gradient(to right, #fffbd5, #b20a2c);
  font-family: 'Poppins';
}

 body, #root{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color);
}

.background {
  background: linear-gradient(180deg,#281130 0,#0f0021);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -20;
}

.line-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
}

svg {
  display: inline-block;
}

.navbar{
  position:absolute;
  color: white;
  list-style:none;
  z-index:2;
}

.navicon {
  cursor: pointer;
}

.nav li{
  background: rgba(234, 227, 227, 0.23);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  list-style: none;
  height: 50px;
  border: 1px solid white;
  padding: 10px;
  line-height: 20px;
  -webkit-transition: all .5s ease-in-out;
  cursor: pointer;
}

.nav {
  width: clamp(5rem, 10rem, 15rem);
  position: absolute;
  z-index: 4;
  padding: 0;
}

.nav li a {
  text-align: center;
  font-size: 1rem;
}

.nav li a::before, .nav li a::after {
  top: 1.5rem;
}

.nav li:nth-child(odd){
  
  -webkit-transform-origin: top;
  -webkit-transform: perspective(350px) rotateX(-90deg);
}

.nav li:nth-child(even){
   margin-top:-65px;
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(350px) rotateX(90deg);
}

.navbar:hover li:nth-child(odd){
  -webkit-transform-origin: top;
  -webkit-transform: perspective(350px) rotateX(0deg);
  margin-top:0;
}

.navbar:hover li:nth-child(even){
  -webkit-transform-origin: bottom;
  -webkit-transform: perspective(350px) rotateX(0deg);
   margin-top:0;
}

.nav li:first-child{
  margin-top:0;
}

.nav li:hover {
  background-color: #281130;
  
}

.intro {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  height: 100vh;
}

.description {
  justify-self: center;
  align-self: center;
}

.glitchy {
  font-size: 6rem;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: var(--color);
  z-index: 1;
}

.glitchy::before, .glitchy::after {
  content: attr(data-content);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.glitchy::before {
  color: var(--gitch-before);
  z-index: -1;
  animation: glitchy 0.3s ease 0.3s infinite ;
}

.glitchy::after {
  color: var(--glitch-after);
  z-index: -2;
  animation: glitchy 0.3s ease infinite reverse;
}

@keyframes glitchy {
  0%   {transform: translate(-2px, 2px);}
  25%  {transform: translate(-2px, -2px);}
  50%  {transform: translate(2px, 2px);}
  75%  {transform: translate(2px, -2px);}
  100%  {transform: translate(-2px, 2px);}
}

.glitchy-line {
  position: relative;
  display: inline-block;
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 0.10rem;
  color: var(--color);
  z-index: 1;
  border-bottom: 1px solid fade(var(--color), 75%);
  padding-bottom: 5px;
  font-weight: lighter;
}

.glitchy-line::before, .glitchy-line::after {
  content: '';
  position: absolute;
  bottom: 0;
  top: 4rem;
  left: 0;
  right: 0;
  height: 1px;
  visibility: hidden;
}

.glitchy-line:before {
  background-color: var(--gitch-before);
  z-index: -1;
}

.glitchy-line:after {
  background-color: var(--glitch-after);
  z-index: -2;
}

.glitchy-line:hover:before {
  visibility: visible;
  animation: line-glitchy 0.3s ease 0.3s infinite;
}

.glitchy-line:hover:after {
  visibility: visible;
  animation: line-glitchy 0.3s ease infinite reverse;
}

@keyframes line-glitchy {
  0%   {transform: translate(-1px, 1px);}
  25%  {transform: translate(-1px, -1px);}
  50%  {transform: translate(1px, 1px);}
  75%  {transform: translate(1px, -1px);}
  100%  {transform: translate(-1px, 1px);}
}


.tvstack {
  position: absolute;
  z-index: -10;
  top: 150px;
}

.avatar {
  position: absolute;
  top: 455px;
  width: 165px;
  height: 130px;
  margin-left: 75px;
  border-radius: 50% / 10%;
  opacity: 1;
  overflow: hidden;
  z-index: -9;
}

.avatar::before {
  animation: skew 3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  opacity: 0.8;
  z-index: 3;
  content: "";
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: -5%;
  left: -5%;
  background: inherit;
  border-radius: 5% / 50%;
}

.avatar::after {
  animation:  flicker 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  opacity: 0.8;
  z-index: 2;
}

.avatar::after,
.avatar::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.avatar,
.avatar::after,
.avatar::before {
  background-image: url('./img/newavatar.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@keyframes flicker {
  0% {
    filter: hue-rotate(0deg);
    opacity: 0;
    transform: translateX(0);
  }
  89% {
    opacity: 0;
    transform: translateX(0);
  }
  90% {
    opacity: 0.9;
    transform: translateX(2px);
  }
  91% {
    transform: translateX(0);
  }
  92% {
    filter: hue-rotate(0deg);
    transform: translateX(-1px);
  }
  93% {
    filter: hue-rotate(30deg);
    transform: translateX(-2px);
  }
  95% {
    filter: blur(1px);
    transform: translateX(6px);
  }
  97% {
    filter: hue-rotate(5deg);
    transform: translateX(-1px);
  }
  98% {
    filter: blur(0px);
    filter: hue-rotate(0deg);
    transform: translateX(2px);
  }
  99% {
    opacity: 0.9;
    transform: translateX(-3px);
  }
  100% {
    filter: hue-rotate(0deg);
    opacity: 0;
    transform: translateX(0);
  }
}
@keyframes skew {
  0% {
    opacity: 0.7;
    transform: skew(0deg, 0deg);
  }
  10% {
    transform: skew(0deg, 0deg);
  }
  12% {
    filter: hue-rotate(0deg);
    transform: skew(-15deg, 0deg);
  }
  14% {
    filter: hue-rotate(-10deg);
    opacity: 0.5;
    transform: skew(15deg, 0deg);
  }
  16% {
    filter: hue-rotate(25deg);
    opacity: 0.7;
    transform: skew(0deg, 0deg);
  }
  17% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: skew(0deg, 0deg);
  }
}

.wrapper {
  display: flex; 
}

.c1 {
  display: inline-block;
}

.c2 {
  display: inline-block;
}

.type1 {
  position: absolute;
  top: 210px;
  width: 0;
  margin-left: 120px;
  animation: typing 3s steps(6, end) forwards;
  overflow: hidden;
  border-right: 3px solid var(--color);
  font-size: 1.5rem;
  white-space: nowrap;
  font-family: monospace;
}

.type2 {
  position: absolute;
  top: 350px;
  width: 0;
  margin-left: 110px;
  animation: typing 3s steps(7, end) forwards;
  overflow: hidden;
  border-right: 3px solid var(--color);
  font-size: 1.5rem;
  white-space: nowrap;
  font-family: monospace;
  animation-delay: 3s;
}

@keyframes typing {
  from {
    width: 0
  }
  to {
    width: 7ch;
  }
}

.about {
  grid-column: 1/3;
  margin: 0 15%;
}

.glitchy-line.title {
  left: 45%;
  margin: 2rem 0;
}

.projectList {
  grid-column: 1/3;
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}

.project {
  /* background-color: yellow; */
  max-width: 20%;
  position: relative;
  margin: 20px;
  
}

.project::before, .project::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border: 2px solid --glitch-after;
  transition: .3s ease;
  background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%, transparent 40%);
  
}

.project::before {
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAU0lEQVQoU43QMRYAEQwE0ExHyf3vqNxybF6wRIpNZ3whIL74UJDh4zNQpFWTSMOx9y0m0m6FdmDDBnc073QYIQqwweDxa5jR+Zru+gUNCvkPvrgDcCIgJ6cWP4UAAAAASUVORK5CYII=) repeat;
  top: -15px;
  left: -15px;
}

.project::after {
  bottom: -15px;
  right: -15px;
}

.project:hover::before {
  top: 15px;
  left: 15px;
}

.project:hover::after {
  bottom: 15px;
  right: 15px;
}

.project:hover::after + .hide {
  display: block;
  color: var(--color);
}

.projectimg {
  max-width: 15rem;
  height: auto;
  display: block;
  cursor: pointer;
}

.glitchy-line.title.tech {
  left: 42%;
}

/* Modal */
.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  position: relative;
  overflow: hidden;
  z-index: 0;
  width: 60%;
  height: auto;
  background: rgba(28,7,32,255);
  color: --color;
  padding: 1rem;
  border: 7px solid white;
}

.windowClose {
  float: right;
  cursor: pointer;
}

.projectinfo {
  padding: 1rem;
}

.icons {
  display: flex ;
  justify-content: space-around;
  gap: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

/* Technology */
.technologies {
  margin: 2rem 0;
  display: block;
  /* background-color: var(--color); */
}

.marquee {
  --gap: 2rem;

  position: relative;
  display: flex;
  gap: var(--gap);
  user-select: none;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
}

.techicon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(0, 0, 0, .5); */
  padding: 10px;
  
  max-width: clamp(10rem, 1rem + 28vmin, 20rem);

}

.marqueeGroup {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll 30s linear infinite; 
}

@keyframes scroll{
  from {transform: translateX(0)}
  to {transform: translateX(calc(-100% - var(--gap)))}
}

@media(prefers-reduced-motion: reduce) {
  .marqueeGroup {
    animation-play-state: paused;
  }
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50vh;
  margin-top: 3.5rem;
}

.contactinfo {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Neon Sign */
.neonsign {
  text-align: center;
  user-select: none;
}

.neonsign span {
  font-size: 5rem;
  font-family: 'Vibur';
  color: #FC466B;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
  -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
  0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards, flick 3s infinite;
}

.flicker {
  animation: blink 3s 2s infinite;
}

.fastFlicker {
  animation:  blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #FC466B;
    text-shadow: none;
  }
  100% {
    color: #ffd5ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

@keyframes flick {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}


.link {
  position: relative;
  display: inline-block;
  color: #281130;
  font-size: 1.3rem;
  text-decoration: none;
  z-index: 1;
}

.link::before, .link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.link::before {
  background-color: var(--gitch-before);
  z-index: -1;
}

.link::after {
  background-color: var(--glitch-after);
  z-index: -2;
}

.link.icon:hover {
  animation: glitchy 0.3s ease 1;
}

.link:hover::before {
  animation: glitchy 0.3s ease 0.3s infinite;
}

.link:hover::after {
  animation: glitchy 0.3s ease infinite reverse;
}

.icon {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4px;
  height: 100%;
  background-color: var(--color);
  padding: 15px 25px;
}

form {
  
  backdrop-filter: blur(20px);
  height: 100%;
  width: 50%;
  padding: 1.5rem;
}

input, textarea {
  display: block;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background: rgba(255, 255, 255, .7);
  color: #fff;
  border: 1px solid #fff;
}

textarea {
  height: 50%;
}

.btn {
  cursor: pointer;
  z-index: 3;
  position: relative;
  padding: 0;
  font-size: 1.1rem;
}

.btn::before, .btn::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.btn::before {
  background-color: var(--gitch-before);
  z-index: -1;
}

.btn::after {
  background-color: var(--glitch-after);
  z-index: -2;
}

.btn:hover{
  animation: glitchy 0.3s ease 1;
}

.btn:hover::before {
  animation: glitchy 0.3s ease 0.3s infinite;
}

.btn:hover::after {
  animation: glitchy 0.3s ease infinite reverse;
}

.btntext {
  display: block;
  height: 100%;
  background-color: var(--color);
  padding: .8rem;
}